<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    width: 150px;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    /* display: inline-flex; */
    margin-right: 0.6rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
    text-align: center;
  }



  @media (max-width: 768px) {
    form.d-flex {
      flex-direction: column;
    }

    .search-inp {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .search-btn {
      width:100%;
    }
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- Brand Icon -->
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>

    <!-- Toggler (Only visible on small screens) -->
    <button class="navbar-toggler d-block d-md-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#mobileMenu" aria-controls="mobileMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Expanded Navbar (visible on md+ screens) -->
    <div class="collapse navbar-collapse d-none d-md-flex" id="navbarNavAltMarkup">
      <!-- Left links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto me-3">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destination" />
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>

      </div>

      <!-- Right links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } else { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
      </div>
    </div>

    <!-- Offcanvas Menu (Mobile only) -->
    <div class="offcanvas offcanvas-end d-md-none" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mobileMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body d-flex flex-column">
        <a class="nav-link" href="/listings"><b>Explore</b></a>
        <a class="nav-link mt-2" href="/listings/new"><b>Airbnb your home</b></a>

        <form class="d-flex my-3" role="search">
          <input class="form-control search-inp mb-1 w-65" type="search" placeholder="Search destination" />
          <button class="btn btn-danger search-btn w-65 ml-3 " type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>

        <% if (!currUser) { %>
          <a class="nav-link mt-2" href="/signup"><b>Sign up</b></a>
          <a class="nav-link mt-2" href="/login"><b>Log in</b></a>
          <% } else { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
      </div>
    </div>
  </div>
</nav>